<template name="yoloChoice">
  <head>
    <style>
      .centered {
        text-align: center;
      }
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
      }
      .inline {
        display: inline-block;
      }

      .yolobackground {
        background-color: #F8F8F8;
      }

      body {
        background-color: : #F8F8F8;
      }

    </style>
  </head>
  <div class="template-yoloChoice centered appbackground">
    <div class="page-header">
      <h2 class="centered">Take a Yolo pick</h2>
    </div>

    <div class="yolobackground">
    <p class="left">
      Yolo gives you a chance to be upgraded from an ECONOMY CLASS, BUSINESS CLASS or a FIRST CLASS TICKET! Nice!
    </p>
    <a href="{{ pathFor 'animationPage' }}" class="btn btn-primary navbar-btn" style="text-align:center">YOLO</a>
    </div>

    <br>
    <br>
    <br>

    <div class="yolobackground">
    <p class="left">
      Yolo Maxx ensures you get a 40% higher chance to obtain that coveted FIRST CLASS TICKET to a destination we suggest. #yolo
    </p>
    <a href="{{ pathFor 'animationPage' }}" class="btn btn-primary navbar-btn" style="text-align:center">YOLO MAX</a>
  </div>

  <br>
  <br>

  </div>

</template>
