

<template name="imagePage" >
  <div class="template-imagePage text-center" >
    <div class="page-header text-center" style="border-bottom:none;width:90%;  margin-right:auto; margin-left:auto;">
        <p style="font-size:25px; color:black; margin-top:10px;">Are You Ready To Visit One Of This Places?</p>

    </div>

    <div class="#imagesList">
      <div class="col-md-6" >
          <img src="images/image0_hawaii.jpg" style="margin-top:10px; margin-bottom:10px;width:300px; height:300px;">
          <p style="font-size:25px; color:black; margin-top:10px;">Hawaii</p>
      </div>
      <div class="col-md-6" >
          <img src="images/image1_southafrica.jpg" style="margin-top:10px; margin-bottom:10px;width:300px; height:300px;">
          <p style="font-size:25px; color:black; margin-top:10px;">South Africa</p>

      </div>
      <div class="col-md-6" >
          <img src="images/image2_nepal.jpg" style="margin-top:10px; margin-bottom:10px;width:300px; height:300px;">
          <p style="font-size:25px; color:black; margin-top:10px;">Nepal</p>

      </div>
      <div class="col-md-6" >
          <img src="images/image3_france.jpg" style="margin-top:10px; margin-bottom:10px;width:300px; height:300px;">
          <p style="font-size:25px; color:black; margin-top:10px;">France</p>

      </div>
      <div class="col-md-6" >
          <img src="images/image4_newyork.jpg" style="margin-top:10px; margin-bottom:10px;width:300px; height:300px;">
          <p style="font-size:25px; color:black; margin-top:10px;">New York</p>

      </div>
      <div class="col-md-6" >
          <img src="images/image5_arizona.jpg" style="margin-top:10px; margin-bottom:10px;width:300px; height:300px;">
          <p style="font-size:25px; color:black; margin-top:10px;">Arizona</p>

      </div>
      <div class="col-md-6" >
          <img src="images/image6_germany.jpg" style="margin-top:10px; margin-bottom:10px;width:300px; height:300px;">
          <p style="font-size:25px; color:black; margin-top:10px;">Germany</p>

      </div>
      <div class="col-md-6" >
          <img src="images/image7_abudhabi.jpg" style="margin-top:10px; margin-bottom:10px;width:300px; height:300px;">
          <p style="font-size:25px; color:black; margin-top:10px;">Abudhabi</p>

      </div>
    </div>
   
    <div class="text-center" style="width:250px; margin-right:auto; margin-left:auto;"> 

     <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color:rgba(1,1,1,0.1);" >
      <div class="container">
      <a href="{{ pathFor 'tokenBuy' }}" class="btn btn-primary navbar-btn" style="background-color: #FFCC00;text-align:center ;border-radius: 5em;  width:60%; border-width:2px; border-color:#FFCC00;">Continue</a>
      </div>
  </nav>

  </div>
  </div>

  <style>
body {
 background-color: #F8F8F8;
 margin-bottom: 50px;
}


</style>



</template>