<template name="prizePage">
  <head>
    <style>
      .centered {
        text-align: center;
      }
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
      }
      .inline {
        display: inline-block;
      }
    </style>
  </head>
  <div class="template-prizePage text-center">

      <p style="font-size:35px; color:black; margin-top:10px; margin-bottom:10px;">Congratulations!</p>
      <p style="font-size:20px; color:black; margin-top:10px; margin-bottom:5px;">You have just won a first class ticket to California.</p>
  
    
    <img src="images/image10_california.jpg" style="width:300px;height:300px;">

    <div class="text-center"> 

     <a href="{{ pathFor 'confirmation' }}" class="btn btn-primary navbar-btn" style="background-color: #FFCC00;text-align:center ;border-radius: 5em;  width:60%; border-width:2px; margin-top: 5px;border-color:#FFCC00;">CONFIRM NOW!</a>
      <a href="{{ pathFor 'animationPage' }}" class="btn btn-primary navbar-btn" style="background-color: #FFCC00;text-align:center ;border-radius: 5em;  width:60%; border-width:2px; border-color:#FFCC00;">RE-ROLL (10 CREDITS)</a>
	</div>
  </div>

  <style>
    body{
        background-color: #F8f8f8;
    }
</style>

</template>