

<template name="analyzeInsta" >
  <div class="template-analyzeInsta text-center" >
    <div class="page-header text-center" style="border-bottom:none;width:50%;  margin-right:auto; margin-left:auto;">
            <i style="color:black; font-size:40px; margin-top:50px;" class="fa fa-spinner fa-spin"></i>

        <p style="font-size:25px; color:white; margin-top:110px;">Working out some photo magic to find out where you can go</p>

    </div>
   
    <div class="text-center" style="width:250px; margin-right:auto; margin-left:auto;"> 

    <a href="{{ pathFor 'selectData' }}" class="btn btn-primary navbar-btn selectData" style="display:none;background-color:#4A90E2;text-align:center ;border-radius: 5em;  width:250px; border-width:2px; border-color:#4A90E2;">Connect With Instagram</a>
  </div>
  </div>

  <style>
body {
  background-image: url("images/b2.jpeg");
background-size: 600px 700px;
background-repeat: no-repeat;
}

</style>

</template>