<template name="confirmation">
  <style>
      #center {
        width: 300px;
        position: relative;
         margin-left: auto ;
          margin-right: auto ;
      }
  </style>
  <div class="template-confirmation text-center">
    
              <p style="font-size:30px; color:black;">Thank you!</p>

            <p style="font-size:20px; color:black; margin-bottom:10px;">  Use the widget below to get car rentals and accomodations.</p>


   

  <div id='center'>
  <div id='snippet_searchpanel' ></div>
</div>
  
  <p class="text-center" style=" margin-top:20px;font-size:20px; color:black;"> Or click the button below for local accomodations on Airbnb!</p>

  <a href="http://www.airbnb.com" class=" text-center btn btn-primary navbar-btn" style="background-color: #FFCC00;text-align:center ;border-radius: 5em;  width:60%; border-width:2px; border-color:#FFCC00;">Airbnb</a>

    </div>

 <style>
    body{
        background-color: #F8f8f8;
    }
</style>

</template>