

<template name="payment" >
  <div class="template-payment text-center" >
    <div class="page-header text-center" style="border-bottom:none;width:90%;  margin-right:auto; margin-left:auto;">
        <p style="font-size:25px; color:black; margin-top:10px;">What Would You Use As Credits?</p>

    </div>


    <p style="font-size:15px; color:black; margin-top:10px;">You currently have  <span style="font-size:15px; color:black; margin-top:10px; " id='num_token'> 5 </span> <span style="font-size:15px; color:black; margin-top:10px;">tokens</span></p>

    <div class="text-center">
      <p id='remove_token' class="inline btn btn-primary navbar-btn left" style="background-color: #FFCC00;text-align:center ;border-radius: 5em; border-width:2px; border-color:#FFCC00;"> -- </p> <p id='buy_token' class="inline btn btn-primary navbar-btn" style="background-color: #FFCC00;text-align:center ;border-radius: 5em; border-width:2px; border-color:#FFCC00;">BUY TOKENS</p> <p id='add_token' class="inline btn btn-primary navbar-btn right" style="background-color: #FFCC00;text-align:center ;border-radius: 5em;  border-width:2px; border-color:#FFCC00;"> + </p>
    </div>

    <br>
    <br>
    <br>

     <p style="font-size:15px; color:black; margin-top:0px;">You currently have  <span style="font-size:15px; color:black; margin-top:10px; " id='num_miles'> 1000 </span> <span style="font-size:15px; color:black; margin-top:10px;">miles</span></p>

    <p id='redeem_miles' class="inline btn btn-primary navbar-btn" style="background-color: #FFCC00;text-align:center ;border-radius: 5em; border-width:2px; border-color:#FFCC00;">REDEEM MILES</p> 
     <br>
    
    <a href="{{ pathFor 'animationPage' }}" class="btn btn-primary navbar-btn" style="background-color: transparent;text-align:center ;border-radius: 5em;  width:60%; border-width:2px; border-color:#FF3B30; color:#FF3B30; margin-top:20px;">PAY</a>


  <br>
  <br>


    <div class="centered">
    <p> Credits </p> 
    <div class='inline'>
      <b id='current_credit'> 0 </b>
      <b> / 10 </b>
    </div>
  </div>

    
  </div>

  <style>
body {

  background-color: #F8F8F8;

}

</style>

<script>
  $('#add_token').click(function(){
      if (($('#num_token').html() > 0) && (parseInt($('#current_credit').html()) &lt; 10 )){
        $('#num_token').html(parseInt($('#num_token').html())-1);
        $('#current_credit').html(parseInt($('#current_credit').html())+1); 
        if (parseInt($('#current_credit').html()) == 10){
          $('#pay').removeClass('inactive');
        } else {
          $('#pay').addClass('inactive');
        }

      }
    })
    $('#buy_token').click(function(){
        $('#num_token').html(parseInt($('#num_token').html())+1); 
    })

    $('#remove_token').click(function(){
      if ($('#current_credit').html()>0){
        $('#num_token').html(parseInt($('#num_token').html())+1); 
        $('#current_credit').html(parseInt($('#current_credit').html())-1); 
      }
    })

    $('#add_miles').click(function(){
      if (($('#num_miles').html() > 0) ){
        $('#num_miles').html(parseInt($('#num_miles').html())-1);
        $('#current_credit').html(parseInt($('#current_credit').html())+1); 
      }
    })
    
    $('#redeem_miles').click(function(){
        if (parseInt($('#num_miles').html()) >= 100 ) {
          $('#num_miles').html(parseInt($('#num_miles').html())-100); 
          $('#num_token').html(parseInt($('#num_token').html())+1);
        }
    })

    $('#remove_miles').click(function(){
      if ($('#current_credit').html()>0){
        $('#num_miles').html(parseInt($('#num_miles').html())+1); 
        $('#current_credit').html(parseInt($('#current_credit').html())-1); 
      }
    });

  </script>

</template>
