
<template name="instaLogin" >
  <div class="template-instaLogin text-center" >
    <div class="page-header text-center" style="border-bottom:none;width:50%;  margin-right:auto; margin-left:auto;">
        <p style="font-size:25px; color:white; margin-top:160px;">ARE YOU READY TO</p>
        <p style="font-size:40px; color:white;">#YOLO?</p>

    </div>
   
    <div class="text-center" style="width:250px; margin-right:auto; margin-left:auto;"> 
    <a href="{{ pathFor 'analyzeInsta' }}" class="btn btn-primary navbar-btn" style="background-color:#4A90E2;text-align:center ;border-radius: 5em;  width:250px; border-width:2px; border-color:#4A90E2;">Connect With Instagram</a>
  </div>
  </div>

  <style>
body {
  background-image: url("images/instalogin.jpg");
  background-position: left 500px top;

}

h1 {
    color: maroon;
    margin-left: 40px;
} 
</style>

</template>